* {
box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #515076;
  margin: 0;
  padding: 0;
} 

.back_img {
  background-image : url('img/bg_1.png');
  background-size: 45%;
  background-position: left 85px top -0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
    font-size: 70px;
    line-height: 78px;
    font-weight: 400;
    text-align: center;
    margin-top: 220px;
    padding: 0px;
}

.product-list {
  flex-wrap: wrap;
  margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
    padding: 0px;
}

.product-card {
    width: 340px;
    padding: 25px;
    margin: 45px;
    background: url('img/bg.png') no-repeat center;
}

.product-description {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #A5A3B9;
}

.composition {
  padding-left: 15px;
}

.price-box {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-size: 20px;
}